---
---

<article>
    <slot/>
    <h3>Text</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, maiores.</p>
    <button>Klik her</button>
</article>

<style>
    article{  background: linear-gradient(180deg, #1a1a35, #3e005c);
  border-radius: 20px;
  padding: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  color: white}

  h2{
    font-size: 24px;
  letter-spacing: 2px;
  font-weight: bold;
  color: #fff;
  }

  button {
  /* display: inline-block; */
  margin-top: 20px;
  padding: 12px 30px;
  border: 2px solid #ff007c;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  text-decoration: none;
  transition: 0.3s;
  position: relative;
  box-shadow: 0 0 15px rgba(255, 0, 124, 0.5);
  background-color: #3e005c;
}
</style>