---

---
<section class="footer">
    <div>
    <h4>virksomhed</h4>
    <p>om</p>
    <p>job</p>
    <p>for the record</p></div>
    <div>
    <h4>virksomhed</h4>
    <p>om</p>
    <p>job</p>
    <p>for the record</p></div>
    <div>
    <h4>virksomhed</h4>
    <p>om</p>
    <p>job</p>
    <p>for the record</p></div>
</section>